<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoibmVhdC1zd2lmdCIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3sidXJsU3Ry
		aW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL3Ryb3lkZXZpbGxlXC9ORUFU
		LXN3aWZ0In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQi
		OnsiYnJhbmNoIjpbIm1hc3RlciJdfX1dfV0sImRpc3BsYXlOYW1lIjoiU21h
		cnRBbGllbnMiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3Jt
		cyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNp
		b24iOiIxNi4wIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IlNtYXJ0QWxpZW5z
		Iiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsiY29tLmdhYnJp
		ZWxva3VyYS5kZXYuU21hcnRBbGllbnMiXX0seyJ0ZWFtSWRlbnRpZmllciI6
		WyIyRlQ1S0dHNDI1Il19LHsiZGlzcGxheVZlcnNpb24iOlsiMS4wIl19LHsi
		YnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50
		Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicmF3VmFs
		dWUiOiJpbmRpZ28ifX19LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1
		YmxpYy5hcHAtY2F0ZWdvcnkuZ2FtZXMifSwiYXBwSWNvbiI6eyJhc3NldCI6
		eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbXSwic3VwcG9y
		dGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9ydGVk
		SW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsibGFu
		ZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBvcnRy
		YWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxpZXMi
		OlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwidHlw
		ZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9k
		dWxlIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJOZWF0IiwibmVh
		dC1zd2lmdCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFw
		cE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOmZhbHNlLCJwYXRoIjoiLiIsInJl
		c291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2Vz
		cyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0s
		InRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJOZWF0
		IiwibmVhdC1zd2lmdCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFt
		ZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOmZhbHNlLCJwYXRoIjoi
		LiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsi
		cHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFi
		bGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuOC4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		8ASkbRSVxZnJXeWU/Bc/wpzAMyf7tU3b4IjL5ABXCpw=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
